<h1>Welcome to the adventure page</h1>

<p>Have fun....</p>


<p>Check out all the <a href="/adventures">adventures</a></p>
<h1> Your Libraries index </h1>

<%= @libraries.each do |f|%>
  <li>
    <%= f.url %>
  </li>
  <% end %>